---
import type { Page } from "notro/src/utils/notion/utils";
import { getStaticPathsForTemplateContents } from "../../utils/templateContents";
import BlockRenderer from "notro/src/components/BlockRenderer.astro";
import DatabaseItem from "notro/src/components/DatabaseItem.astro";
import DatabaseProperties from "notro/src/components/DatabaseProperties.astro";
import Layout from "../../layouts/Layout.astro";

interface Props {
  page: Page;
}

export async function getStaticPaths() {
  return await getStaticPathsForTemplateContents();
}

const { page } = Astro.props;
---

<Layout title={page.title}>
  <main class="notrotail-collection-page" id={page.id}>
    <DatabaseItem page={page} />
    <BlockRenderer param={{ block_id: page.id }} />
  </main>
</Layout>
