---
import "../assets/styles/tailwind.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Favicon from "../components/Favicon.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <Favicon />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
