@tailwind base;
@tailwind components;
@tailwind utilities;

/* Notro classed block styles sample*/
@layer utilities {
    .hero {
        @apply mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center;
        .container {
            @apply mx-auto max-w-xl text-center;
        }
    }

    .button {
        p {
            @apply mt-8 flex flex-wrap justify-center gap-4;
        }
        a {
            @apply block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto;
        }
    }

    .features {
        @apply grid grid-cols-2 gap-4 sm:grid-cols-3;
        summary * {
            @apply text-lg;
        }
        details {
            @apply block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring;
        }
    }
}

/* NotroTail*/
@layer utilities {
    main {
        @apply mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8;
    }

    header {
        @apply mx-auto flex h-16 max-w-screen-xl items-center gap-8 bg-white px-4 sm:px-6 lg:px-8;
        nav {
            /*@apply hidden md:block;*/
        }
        ul {
            @apply flex items-center gap-6 text-sm;
            li a {
                @apply text-gray-500 transition hover:text-gray-500/75;
            }
        }
    }

    footer {
        div {
            @apply mx-auto mt-16 max-w-screen-xl border-t border-gray-100 bg-white px-4 pb-8 pt-16 pt-8 sm:flex sm:items-center sm:justify-between sm:px-6 lg:mt-24 lg:px-8 lg:pt-24;
            ul {
                @apply flex flex-wrap justify-center gap-4 text-xs lg:justify-end;
                li a {
                    @apply text-gray-500 transition hover:opacity-75;
                }
            }
        }
    }
}

/* Notro block styles*/
@layer utilities {
    /* Notion block types */
    .notion-selectable {
        @apply px-2 py-1;
    }

    .notion-text-block {
        @apply text-base;
    }

    .notion-header-block {
        @apply text-3xl font-bold text-gray-900 mt-8 mb-1;
    }

    .notion-sub_header-block {
        @apply text-2xl font-bold text-gray-900 mt-6 mb-px;
    }

    .notion-sub_sub_header-block {
        @apply text-xl font-bold text-gray-900 mt-4 mb-px;
    }

    .notion-bookmark-block {
        @apply text-blue-500 underline;
    }

    .notion-bulleted_list-block {
        @apply list-inside list-disc;
    }

    .notion-numbered_list-block {
        @apply list-inside list-decimal;
    }

    .notion-column_list-block {
        @apply flex flex-row;
    }

    .notion-column_list-block > * {
        @apply flex-1;
    }

    .notion-code-block {
        @apply mt-1 mb-1 bg-gray-100;
    }

    .notion-quote-block {
        @apply mt-1 mb-1 bg-gray-100 p-4;
    }

    .notion-callout-block {
        @apply mt-1 mb-1 rounded-md bg-gray-100 p-4 pr-3;
    }

    .notion-toggle-block {
        h1,
        h2,
        h3 {
            @apply inline-block;
        }
    }

    .notion-column-block {
        @apply flex flex-col;
    }

    .notion-page-block {
        @apply text-gray-500 underline;
    }

    .notion-collection_view-block a {
        @apply text-gray-500 underline;
    }

    /* Notion colors */
    .notion-color-gray {
        @apply text-gray-200;
    }

    .notion-color-brown {
        @apply text-amber-200;
    }

    .notion-color-orange {
        @apply text-orange-200;
    }

    .notion-color-yellow {
        @apply text-yellow-200;
    }

    .notion-color-green {
        @apply text-green-200;
    }

    .notion-color-blue {
        @apply text-blue-200;
    }

    .notion-color-purple {
        @apply text-purple-200;
    }

    .notion-color-pink {
        @apply text-pink-200;
    }

    .notion-color-red {
        @apply text-red-200;
    }

    .notion-color-gray_background {
        @apply my-1 bg-gray-200;
    }

    .notion-color-brown_background {
        @apply my-1 bg-amber-200;
    }

    .notion-color-orange_background {
        @apply my-1 bg-orange-200;
    }

    .notion-color-yellow_background {
        @apply my-1 bg-yellow-200;
    }

    .notion-color-green_background {
        @apply my-1 bg-green-200;
    }

    .notion-color-blue_background {
        @apply my-1 bg-blue-200;
    }

    .notion-color-purple_background {
        @apply my-1 bg-purple-200;
    }

    .notion-color-pink_background {
        @apply my-1 bg-pink-200;
    }

    .notion-color-red_background {
        @apply my-1 bg-red-200;
    }

    /* Notion annotations */
    .notion-annotation-bold {
        @apply font-bold;
    }
    .notion-annotation-italic {
        @apply italic;
    }
    .notion-annotation-strikethrough {
        @apply line-through;
    }
    .notion-annotation-underline {
        @apply underline;
    }
    .notion-annotation-code {
        @apply bg-gray-200 font-mono;
    }

    .notion-link {
        @apply text-gray-500 underline;
    }

    .notion-alias-block {
        @apply text-gray-500 underline;
    }
}
