---
import { getStaticPathsFromAllBlocksRecursive } from "../utils/freeform";
import type { PageObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import BlockRenderer from "notro/src/components/BlockRenderer.astro";
import Layout from "../layouts/Layout.astro";

interface Props {
  title: string;
  page: PageObjectResponse;
}

export async function getStaticPaths() {
  return await getStaticPathsFromAllBlocksRecursive();
}

const { title, page } = Astro.props;
---

<Layout title={title}>
  <main class="notrotail-page" id={page.id}>
    <BlockRenderer param={{ block_id: page.id }} />
  </main>
</Layout>
