---
import { getStaticPathsForTemplate } from "../utils/template";
import BlockRenderer from "notro/src/components/BlockRenderer.astro";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  return await getStaticPathsForTemplate();
}

const { title, page } = Astro.props;
---

<Layout title={title}>
  <main>
    <BlockRenderer param={{ block_id: page.id }} />
  </main>
</Layout>
